[submodule "manuscript-overleaf"]
	path = manuscript-overleaf
	url = https://git.overleaf.com/61473f20a7d5ad01e955d6fd
[submodule "ms-pathomove"]
	path = ms-pathomove
	url = https://git.overleaf.com/618924fc553aeaa2b60a63d2
[submodule "ms-pnas"]
	path = ms-pnas
	url = ./ms-pnas
